<table class="table table-striped">
<tr>
<td><%= expense.date %></td>
<td><%= expense.merchant %></td>
<td><%= expense.comment %></td>
<td><%= expense.total %></td>
<td><%= expense.reimbursable %></td>
<td><%= expense.billable %></td>
<b><td><%= link_to 'Edit', edit_expense_path(expense) %></td></b>
  <tr>
</table>


 


   