</br>
</br></br></br>
<div class="submit-form">
<%= simple_form_for(@expense) do |f| %>

  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :merchant, :placholder => 'merchant' %>
     <div class="field">
        <%= f.label :date,'Date' %>
        <%= f.date_field :date, placeholder: 'Date' %>
    </div>
     <%= f.input :total, placeholder: 'Enter Total Amount' %>
     <%= f.input :comment, placeholder: 'comment' %> 
     <%= f.label :category, 'Category' %>
     <%= f.select :category, options_for_select([["select any one", ""], "transportation","Phone", "Meals", "Lodging", "Fuel", "Entertainment","Other"]), :class => 'genForm_dropBox' %> </br>
     </br> 
    <%= f.check_box :reimbursable %>
    <%= f.label :reimbursable %>        
    <%= f.check_box :billable %> 
    <%= f.label :billable %></br></br>
    <%= f.button :submit %>        
    
<% end %>

